.swipeButtons {
    position: fixed;
    bottom: 5vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.swipeButtons .MuiIconButton-root {
    background-color: white;
    box-shadow: 0px 18px 53px 0px rgba(0,0,0,0.3) !important;
}
